body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.33;
}

:root{
    --white: #fff;
    --off-white: #FAFAFA;
    --gray: #353535;
    --medium-gray: #4A4441;
    --light-gray: #EFEFEF;
    --product-gray: #9a9a9a;
    --golden: #FAA500;

    --titilium: 'Titillium Web', sans-serif;
}
.ov-hidden{
    overflow: hidden;
}
.fw-1{
    font-weight: 100 !important;
}
.fw-2{
    font-weight: 200 !important;
}
.fw-3{
    font-weight: 300 !important;
}
.fw-4{
    font-weight: 400 !important;
}
.fw-5{
    font-weight: 500 !important;
}
.fw-6{
    font-weight: 600 !important;
}
.fw-7{
    font-weight: 700 !important;
}
.fw-8{
    font-weight: 800 !important;
}
.fw-9{
    font-weight: 900 !important;
}

/* MENU */
.nav-header{
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.nav-header .sub-header,
.nav-home .navbar-collapse{
    flex: 100%;
}

.nav-header .sub-header{
    background-color: var(--gray);
    color: var(--white);
    display: block;
    font-family: var(--titilium);
    font-size: 10px;
    line-height: 24px;
}

.nav-home{
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.nav-home .mob-logo-nav,
.nav-home .mob-search-cart {
    display: flex;
}
.nav-home .mob-search-cart > a{
    padding: 0 16px;
}
.nav-home .navbar-toggler {
    align-self: center;
    border: none;
    padding: 0 16px;
}
.nav-home .navbar-toggler .navbar-toggler-icon{
    background-image: url('../img/drawer.png');
}
.nav-home .navbar-collapse .navbar-nav{
    margin-right: 0 !important;
    margin-left: auto;
}
.nav-home .navbar-collapse .navbar-nav li a{
    color: var(--gray);
    font-family: var(--titilium);
    font-size: 14px;
    margin: 0 12px;
    padding: .5rem 0;
    position: relative;
}
.nav-home .navbar-collapse .navbar-nav li.active a{
    color: var(--golden);;
}
.nav-home .navbar-collapse .navbar-nav li a:after{
    content: '';
    height: 1px;
    background-color: var(--golden);;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    bottom: 0;
}
.nav-home .navbar-collapse .navbar-nav li a:hover:after{
    content: '';
    height: 1px;
    background-color: var(--golden);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: 1s width;
}
.nav-home .navbar-collapse .navbar-nav li.active a:after{
    content: '';
    height: 1px;
    background-color: var(--golden);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.nav-home .navbar-collapse .navbar-nav li a:hover{
    color: var(--golden);
}

/* Carousel Banner */
.section-banner{
    padding-top: 88px;
    overflow: hidden;
}
#owl-home .item{
    height: 320px;
    margin: 0 auto;
    position: relative;
}
#owl-home .item .banner-item{
    position: absolute;
    width: 100%;
}
#owl-home > div{
    overflow: visible;
}
#owl-home .owl-dots{
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#owl-home .owl-dots .owl-dot.active span, #owl-home .owl-dots .owl-dot:hover span{
    background-color:  var(--golden);
}
#owl-home .owl-dots .owl-dot span, .owl-theme .owl-dots .owl-dot span{
    background-color: transparent;
    border: 1px solid var(--golden);
}
#owl-home .owl-nav{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
#owl-home .owl-nav .owl-prev,
#owl-home .owl-nav .owl-next{
    background-color: transparent;
    background-image: url('../img/vector.png');
    height: 32px;
    position: absolute;
    width: 20px;
    transform: translateY(-50%);
}
#owl-home .owl-nav .owl-next{
    margin: 0 0 10px;
    right: 30px;
    transform: translateY(-50%) rotate(-180deg);
}
#owl-home .owl-nav .owl-prev{
    left: 30px;
    margin: 0 0 10px;
}
.text-box{
    position: absolute;
    left: 50%;
    text-align: left;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 235px;
}
.text-box h2{
    color: #FFFFFF;
    font-size: 30px;
    line-height: 1.2;
}
.text-box p{
    color: var(--white);
    font-size: 14px;
    margin: 20px 0 14px
}
.btn-default{
    background-color: var(--golden);
    border: 1px solid var(--golden);
    border-radius: 4px;
    color: var(--white);
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    padding: 4px 7px;
    width: 100%;
}
.btn-default.btn-add{
    font-family: var(--titilium);
    font-size: 16px;
    line-height: 1.5;
}
.btn-default:hover{
    background-color: var(--golden);
    transition: background-color 0.8s;
}
.btn-default.transparent{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
}
.btn-default.transparent:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.btn-default:hover{
    text-decoration: none;
}
.btn-transition{
    animation-name: paragraph;
    animation-duration: 3s;
}
.btn-default.btn-small{
    font-size: 12px;
    padding: 8px 25px;
}

/* Beneficios Why Section */
.title-solucao{
    font-size: 16px;
    font-family: var(--titilium);
    padding: 24px 0;
    color: var(--gray);
}

#owl-why .owl-stage-outer{
    overflow: visible;
}

#owl-why .item-why{
    align-items: center;
    border-radius: 4px;
    background-color: var(--light-gray);
    column-gap: 16px;
    display: flex;
    margin: 0 auto;
    padding: 16px 26px;
    width: 300px;
}

#owl-why .owl-item .item.item-why img{
    height: 32px;
    width: 32px;
}

#owl-why .item-why .text-benefits span{
    display: block;
}

#owl-why .item-why .text-benefits .title-benefit{
    font-family: var(--titilium);
    font-size: 14px;
    line-height: 1.5;
}

#owl-why .item-why .text-benefits .text-benefit{
    color: var(--medium-gray);
    font-family: var(--titilium);
    font-size: 12px;
}

/* Partners Section */

.section-partners {
    padding: 40px 0 0 0;
}
.section-partners h3{
    font-family: var(--titilium);
    font-size: 24px;
    line-height: 1.5;
}

.section-partners .nav-tabs::-webkit-scrollbar {
    display: none;
}

.section-partners .nav-tabs{
    align-items: center;
    border: none;
    display: flex;
    column-gap: 16px;
    height: 65px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 30px;
    width: 100%;
}

.section-partners .nav-item{
    max-width: 300px;
}

.section-partners .nav-item:last-child{
    margin-right: 30px;
}

.section-partners .nav-item img{
    width: 298px;
    height: auto;
}

.section-partners .nav-item .nav-link{
    padding: 0;
    border-radius: 3px;
    border: 1px solid var(--light-gray);
}

.section-partners .nav-item .nav-link.active {
    border-color: var(--golden);
}

.section-partners .tab-content{
    margin-top: 40px;
    padding: 0 30px;
}
.section-partners .tab-content .tab-pane h4{
    color: var(--gray);
    font-family: var(--titilium);
    font-size: 24px;
    line-height: 1.5;
}

#owl-products .owl-stage-outer{
    overflow: visible;
}
#owl-products .item .price-product{
    color: var(--gray);
    font-family: var(--titilium);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

#owl-products .item .title-product{
    color: var(--gray);
    font-family: var(--titilium);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

#owl-products .item .desc-product{
    color: var(--product-gray);
    font-family: var(--titilium);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 54px;
}
#owl-products .item .color-sku{
    display: flex;
    column-gap: 10px;
    list-style: none;
    margin-top: 8px;
    padding: 0;
}
#owl-products .item .color-sku li{
    border: 1px solid transparent;
    border-radius: 4px;
    height: 25px;
    width: 25px;
}
#owl-products .item .color-sku li.color-brown{
    background-color: #DEAC71;
}
#owl-products .item .color-sku li.color-red{
    background-color: #D37164;
}
#owl-products .item .color-sku li.color-l-blue{
    background-color: #6497D3;
}
#owl-products .item .color-sku li.color-blue{
    background-color: #3C3B79;
}
#owl-products .item .color-sku li.color-s-red{
    background-color: #D84E4B;
}
#owl-products .item .color-sku li.color-black{
    background-color: #1C1A19;
}
#owl-products .item .color-sku li.color-brass{
    background-color: #CFC9B0;
}
#owl-products .item .color-sku li.color-silver{
    background-color: #EAE9E5;
}
#owl-products .item .color-sku li.active{
    border-color: var(--gray);
}

/* Section Lorem */

.section-lorem{
    padding: 30px;
}

.lorem-text h4{
    font-size: 24px;
    font-family: var(--titilium);
    line-height: 1.5;
    margin: 0 0 16px;
}

.lorem-text p{
    font-family: var(--titilium);
    font-size: 14px;
    line-height: 1.5;
    margin: 0 30px 24px 0;
}

.lorem-image img{
    border-radius: 4px;
}

/* Section News */

.section-news{
    background-color: var(--off-white);
    border: 2px solid var(--light-gray);
    border-left: 0;
    border-right: 0;
    padding: 24px 30px;
}

.section-news h4{
    font-family: var(--titilium);
    font-size: 24px;
    line-height: 1.5;
}

.section-news .news-form{
    column-gap: 16px;
    display: flex;
}

.section-news .news-form .input-news {
    border: 1px solid var(--gray);
    border-radius: 4px;
    padding-left: 24px;
}

.section-news .news-form .input-news::-webkit-input-placeholder,
.section-news .news-form .input-news:-ms-input-placeholder,
.section-news .news-form .input-news::placeholder {
    color: var(--gray);
    font-size: 14px;
    line-height: 1.5;
}

/* Footer - Info */

.footer-links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 28px;
    padding-bottom: 50px;
}
.footer-links > div{
    flex: 1 100%;
}

.footer-links .btn-infos{
    border: none;
    background: none;
    color: var(--gray);
    font-size: 16px;
    font-family: var(--titilium);
    font-weight: 700;
    line-height: 18px;
    position: relative;
    text-align: left;
    width: 100%;
}
.footer-links .btn-infos::after,
.footer-links .btn-infos::before{
    background-color: var(--gray);
    content: '';
    position: absolute;
    right: 15px;
    top: 16px;
    transition: height 0.9s;
}
.footer-links .btn-infos.collapsed::after{
    width: 3px;
    height: 9px;
    right: 18px;
    top: 13px;
}
.footer-links .btn-infos::before{
    height: 3px;
    width: 9px;
}
.footer-links .btn-infos::after{
    height: 0;
}

.footer-links ul{
    padding: 0 0 0 15px;
    list-style: none;
}

.footer-links ul li a{
    color: var(--gray);
    font-family: var(--titilium);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}
.social-footer{
    background-color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-footer .social-media{
    align-items: center;
    column-gap: 24px;
    display: flex;
    padding: 24px 0;
}
.social-footer .payment-methods{
    margin: 8px auto;
}
.social-footer .creators-link{
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    padding: 16px 0 24px;
}
.social-footer .creators-link a{
    color: var(--white);
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}
.social-footer .creators-link a img{
    display: block;
}













.img-adjust-icon{
    margin-top: -1px !important;
} 
.box-solucao {
    position: relative;
    overflow: hidden;
}
.box-solucao .box-hover{
    transition: all 1.5s;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #f2f6f9;;
    height: 100%;
    z-index: 3;
    padding: 40px 30px;
}
.box-solucao .box-hover.strong{
    background-color: #ccdae8;
}
.box-solucao .box-hover.white{
    background-color: #ffffff;
}
.box-solucao .box-hover img{
    display: block;
    margin: 0 auto;
}
.box-solucao .box-hover h4{
    color: #444444;
    font-size: 20px;
    padding: 30px 0 20px;
}
.box-solucao .box-down{
    height: 260px;
    padding: 70px 25px 50px;
    background: #004A8D;
    background: -webkit-linear-gradient(#2aa9e0, #004A8D); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2aa9e0, #004A8D ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2aa9e0, #004A8D ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2aa9e0, #004A8D);
}
.box-solucao .box-down.black{
    background: #58595b;
    background: -webkit-linear-gradient(#58595b, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#58595b, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#58595b, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#58595b, black);
}
.box-solucao .box-down.black p{
    max-width: 600px;
    margin: 20px auto;
}
.box-solucao .box-down.black h4{
    max-width: 500px;
    margin: 0 auto;
}
.box-solucao .box-down img{
    display: block;
    margin: 0 auto;
}
.box-solucao .box-down p{
    font-size: 14px;
    color: #ffffff;
    line-height: 1.5;
}
.box-solucao .box-down h4{
    color: #ffffff;
}
.box-solucao:hover{
    cursor: pointer;
}
.box-solucao:hover .box-hover{
    bottom: 80%;
}
.col-solucao{
    padding: 0 !important;
}
.col-solucao.control-height{
    max-height: 300px;
    overflow: hidden;
}
.box-gif img{
    display: block;
    width: 100%;
}
.box-beneficio {
    padding: 80px 30px;
}
.box-beneficio .beneficio-img{
    width: 25%;
    display: inline-block;
    float: left;
}
.box-beneficio .texto-beneficio{
    width: 75%;
    display: inline-block;
    float: left;
    margin: 50px 0;
}
.box-beneficio .beneficio-img img{
    display: block;
    width: 110px;
    margin: 30px auto;
}
.col-beneficio.blue{
    background: #004A8D; 
}
.col-beneficio.blue .texto-beneficio{
    color: #ffffff;
}
.desc-beneficios{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.box-solucao .box-hover img.img-adjust-icon {
    display: block;
    margin: 0 auto;
    transition: 1s transform;
}
.box-solucao:hover .box-hover .img-adjust-icon {
    transform: rotate(180deg);
}
@keyframes heading {
    0%   {opacity: 0;}
    10%  {opacity: 0.1;}
    20%  {opacity: 0.2;}
    30%  {opacity: 0.3;}
    40%  {opacity: 0.4;}
    50%  {opacity: 0.5;}
    60%  {opacity: 0.6;}
    70%  {opacity: 0.7;}
    80%  {opacity: 0.8;}
    90%  {opacity: 0.9;}
    100% {opacity: 1;}
}

@keyframes paragraph {
    0%   {opacity: 0;}
    10%  {opacity: 0;}
    20%  {opacity: 0;}
    30%  {opacity: 0;}
    40%  {opacity: 0.1;}
    50%  {opacity: 0.2;}
    55%  {opacity: 0.3;}
    60%  {opacity: 0.4;}
    65%  {opacity: 0.5;}
    70%  {opacity: 0.6;}
    75%  {opacity: 0.7;}
    80%  {opacity: 0.8;}
    85%  {opacity: 0.85;}
    90%  {opacity: 0.9;}
    95%  {opacity: 0.95;}
    100% {opacity: 1;}
}